.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	background-color: transparent;
	color: #ffffff;
	background-color: #BFBFBF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: ;
  background-color: ;
}
::selection {
    background: #BFBFBF;
    color: #616161;

}