<div class="container" id="services" name="services">
	<div class="container-fluid">
		<h1>Ferienwohnung 1</h1>
<!-- Wohnzimmer -------------------------------------------------------------------------------------------------------------->			
		<div class="row">			
			<div class="col-xs-6 col-md-4">           	
	     	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     			<!-- Indicators -->
  				<ol class="carousel-indicators">
    				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
  				</ol>

  				<!-- Wrapper for slides -->
  				<div class="carousel-inner">
    				<div class="item active">
    					<br>
      				<img src="images/fw1_01.jpg" alt="...">
      				<div class="carousel-caption">
        				<!-- Text im Bild1 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/fw1_02.jpg" alt="...">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/fw1_03.jpg" alt="...">
      				<div class="carousel-caption">
        				<!-- Text im Bild3 -->
      				</div>
    				</div>
  				</div>
				</div>
      </div><!-- col-xs-6 col-md-4 -->
      

      <div class="col-xs-12 col-md-8">
      	<h2 class="featurette-heading">Das Wohnzimmer ist aufgeteilt in einen <span class="text-muted">Wohn- Ess- und Küchenbereich.</span></h2>
        <p class="lead">Im Wohnbereich befindet sich eine moderne Polsterecke mit Schlaf-Funktion (200x130cm) und einem Couch-Tisch. Für die Unterhaltung sorgt ein Radio mit CD+DVD Player sowie Fernseher mit digitalem Sat-Receiver. An kühlen Tagen können Sie gemütlichen am Kaminofen beisammensitzen.</p>
	   		<p class="lead">Im Essbereich steht ein Tisch mit 4 Stühlen.</p>
	   		<p class="lead">Der Küchenbereich ist ausgestattet mit einem 2 Plattenherd mit Abzugshaube, Kühl.- und Gefrierschrank Kompination, ein Mikrowellenherd mit Grillfunktion, eine Kaffeemaschine, ein Wasserkocher, ein Toaster, Geschirrtücher und ausreichend Ess- und Kochgeschirr</p>
      </div>
		</div>
		
<!-- Schlafen ---------------------------------------------------------------------------------------------------------------->    
    <section id="schlafen" name="schlafen"></section><br>	<br>
    	<div class="row">
				<div class="col-xs-6 col-md-4"> 
       		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     				<!-- Indicators -->
  					<ol class="carousel-indicators">
    					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
  					</ol>
  					<!-- Wrapper for slides -->
  					<div class="carousel-inner">
    					<div class="item active">
    						<br>
      					<img src="images/fw1_04.jpg" alt="...">
      					<div class="carousel-caption">
        					<!-- Text im Bild -->
      					</div>
    					</div>
    					<div class="item">
    						<br>
      					<img src="images/fw1_05.jpg" alt="...">
      					<div class="carousel-caption">
        						<!-- Text im Bild -->
      					</div>
    					</div>
  					</div>
					</div>
      	</div><!-- col-xs-6 col-md-4 -->

     		<div class="col-xs-12 col-md-8">
        	<h2 class="featurette-heading">Das geräumige Schlafzimmer<span class="text-muted"> </span></h2>
	   			<p class="lead">Im Schlafzimmer steht ein Doppelbett, ein geräumiger Kleiderschrank, ein Schreibtisch sowie ein Regal und vielen Büchern und Spielen</p>
      	</div>
    	</div>

<!-- Badezimmer ---------------------------------------------------------------------------------------------------------------->    
      <section id="bad" name="bad"></section><br>	<br>
    	<div class="row">
				<div class="col-xs-6 col-md-4">           	      
        	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     				<!-- Indicators -->
  					<ol class="carousel-indicators">
    					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
  					</ol>
  					<!-- Wrapper for slides -->
  					<div class="carousel-inner">
    					<div class="item active">
    						<br>
      					<img src="images/fw1_06.jpg" alt="...">
      					<div class="carousel-caption">
        					<!-- Text im Bild -->
      					</div>
    					</div>
    					<div class="item">
    						<br>
      					<img src="images/fw1_07.jpg" alt="...">
      					<div class="carousel-caption">
        					<!-- Text im Bild -->
      					</div>
    					</div>
  					</div>
					</div>
      	</div><!-- col-xs-6 col-md-4 -->
      
     		<div class="col-xs-12 col-md-8">
     			<h2 class="featurette-heading">Das Badezimmer<span class="text-muted"> </span></h2>
	   			<p class="lead">Das Bad ist mit Dusche und WC ausgestattet. Ausreichend Dusch- und Handtücher sowie Fön sind vorhanden</p>
      	</div>
    	</div>
    	
<!-- Aussenbereich ---------------------------------------------------------------------------------------------------------------->        	
    	<section id="aussen" name="aussen"></section><br>	<br>
    	<div class="row">
				<div class="col-xs-6 col-md-4">           	      
        	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     				<!-- Indicators -->
  					<ol class="carousel-indicators">
    					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
    					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
  					</ol>
  					<!-- Wrapper for slides -->
  					<div class="carousel-inner">
    					<div class="item active">
    						<br>
      					<img src="images/fw1_08.jpg" alt="...">
      					<div class="carousel-caption">
        					<!-- Text im Bild -->
      					</div>
    					</div>
   					<div class="item">
    					<br>
      				<img src="images/fw2_10.jpg" alt="...">
      				<div class="carousel-caption">
        				<!-- Text im Bild -->
      				</div>
    				</div>
    				<div class="item">
    					<br>
      				<img src="images/fw1_09.jpg" alt="...">
      				<div class="carousel-caption">
        				<!-- Text im Bild -->
      				</div>
    				</div>
  				</div>
				</div>
      </div><!-- col-xs-6 col-md-4 -->
      
   		<div class="col-xs-12 col-md-8">
      	<h2 class="featurette-heading">Gartenanlage und <span class="text-muted">der Grillplatz </span></h2>
	   		<p class="lead">Garten und der Grillplatz können mitbenutzt werden</p>
      </div>
      <hr class="featurette-divider">
    </div>
<!-- Belegungsplan ---------------------------------------------------------------------------------------------------------------->    
		<br>
		<section id="belegung" name="belegung"></section><br>	<br>
		<h2 class="featurette-heading">Belegungsplan <span class="text-muted">Ferienwohnung 1</span></h2>
      <p class="lead"> <br>
		<iframe src="http://www.elzachferien.valins.de/cms/belegungsplan/zibepla.php?plan_nr=1" style="width:600px; height: 400px; border:none;" name="test" scrolling="no" frameborder="0" align=aus marginheight="0" marginwidth="0"></iframe> 




<!-- Preise ---------------------------------------------------------------------------------------------------------------->          	
    <section id="preise" name="preise"></section><br>	<br>
    <div class="col-md-8">
    	<h2 class="featurette-heading">Preisliste <span class="text-muted">Ferienwohnung 1</span></h2>
      <p class="lead">Ferienwohnung I  -  Preise<br>
				Wohnungstyp: B<br>
				2-Zimmer (50 qm)<br>
				Aufteilung der Zimmer: <br>
				1 Wohn- / 1 Schlafzimmer (50 qm)<br>
				<br>
				Preise:<br>
				36 EUR / Nacht  für 2 Personen ab 6 Übernachtungen<br>
				Preise inkl. aller Nebenkosten<br>
				<br>
				2 Übernachtungen kosten 56 €/Tag<br>
				3 Übernachtungen kosten 50 €/Tag <br>
				4 Übernachtungen kosten 47 €/Tag<br>
				5 Übernachtungen kosten 45 €/Tag<br>
				21 Tage wohnen 20 Tage zahlen<br>
				<br>
				jede weitere Person: 4 Euro / Nacht<br>
				Kinder bis 3 Jahre sind frei<br>
				Haustiere: 2 Euro pro Nacht<br>
				Kurtaxe 1,60€ / Person / Nacht ab 16 Jahre<br>
				<br>
				Beschreibung:<br>
				Die 3. und 4. Person schlafen auf einer Schlafcouch 200 x 130 cm.<br>
				<br>
				Ausstattung:<br>
				Internetzugang, Fernseher, Radio, CD/DVD Player, Schwedenofen, Mikrowelle mit Grill, Kühlschrank, Wasserkocher, Kaffeemaschine, Toaster, Bettwäsche, Handtücher, Fön<br>
			</p>
		</div>
	</div>
</div><!-- whitewrap -->
 