<div class="container" id="services" name="services">      	<!--<div class="container marketing">--> 
  
  <div class="container-fluid">  	
    <h1>Herzlich Willkommen bei Elzachferien</h1>
    <h3>Eine schöne Ferienwohnung in bester Lage nähe Freiburg</h3>
    	
    
    <!-- Three columns of text below the carousel -->

    <div class="row">


           <img  class="img-responsive img-rounded" alt="Ferienwohnung" src="images/FW-front.jpg" >
    
    	<div class="col-lg-8">
        <h2> </h2>
        <p class="leadblock">Fühlen sie sich wie zu Hause in unseren gemütlich eingerichteten Ferienwohnungen.
        				 <br>Es ist eine 3 Zimmerwohnung im 1. OG mit Balkon, kostenlosen Internet Zugang, viele Brettspiele, Bücher sowie Ausflugsführer mit Wander- und MTB-Karten.
        				 <br>Beschilderte Wander- und MTB Wege führen in landschaftlich wunderschöne Gebiete mit Panoramablick. Ideale Lage auch für Geocaching und Ausflüge nach Freiburg, Schauinsland, Kaiserstuhl, Feldberg, Titisee, Schluchsee, Triberg (Wasserfälle), EuropaPark, Bodensee und zum Rheinfall von Schaffhausen.
        				 <br><br>Mit der Gästekarte können sie kostenlos mit Bus und Bahn durch den Schwarzwald fahren und haben freien Eintritt in Zoo, Freibäder, Museen im ZweiTälerLand. 
        				 <br>Mit dem Auto fährt man 20 min, um den über 1163 m hohen Rohardsberg zu erreichen. Man kann dort Skilaufen (750 m langen Skilift) und es gibt viele Langlaufloipen, Fernskiwanderwege 100 km nach Schonach – Schönwald – Furtwangen – Hinterzarten – Belchen. 
        				 <br>Auch zum Wandern bietet das Naturschutzgebiet Rohardsberg viele Möglichkeiten wie z.B. eine Wanderung zur Donau- und Elzquelle, Martinskapelle, Schwedenschanze, Brend, Blindensee, Schonach oder nach Triberg.<br>
        				 <br>
</p>
        <br>
        <p><a class="btn btn-default" href="fw2.html" role="button">mehr details &raquo;</a></p>

      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
       
<br>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

 <!-- Text1 ---------------------------------------------------------------------------------------------------------------->    
    
  
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="¸berschriftEins">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEins" aria-expanded="true" aria-controls"collapseEins">
          Wilhelmshöhe - Kleine Rundtoure
        </a>
      </h4>
    </div>
    <div id="collapseEins" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="¸berschriftEins">
      <div id="collapseEins"class="panel-body">
      <a href="wanderungen.html#wilhelmshoehe"><img src="images/wanderung/wilhelmshoehe/front.jpg" alt="..." class="img-rounded"></a>
        <br>
<br>
<a class="btn btn-default" href="wanderungen.html#wilhelmshoehe" role="button">mehr details &raquo;</a>
      </div>
    </div>
  </div>
  
 <!-- Text2 ---------------------------------------------------------------------------------------------------------------->    
    
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="¸berschriftZwei">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZwei" aria-expanded="false" aria-controls"collapseZwei">
          Kostenlos mit Bus und Bahn durch den Schwarzwald
        </a>
      </h4>
    </div>
    <div id="collapseZwei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="¸berschriftZwei">
      <div class="panel-body">
        Übernachtungsgäste im ZweiTälerLand bekommen ein besonderes Extra:<br>

Nach der Anmeldung bei ihrem Gastgeber erhalten sie die KONUS-Gästekarte (Kosten-lose Nutzung des ÖPNV für Schwarzwald-urlauber) und können damit kostenlos mit Bus und Bahn durch den Schwarzwald fahren.<br>
<br>
<a class="btn btn-default" href="konus.html" role="button">mehr details &raquo;</a>
      </div>
    </div>
  </div>
  
 <!-- Text3 ---------------------------------------------------------------------------------------------------------------->    
    
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="¸berschriftDrei">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDrei" aria-expanded="false" aria-controls"collapseDrei">
          Fahrradverleih im ZweiTälerLand
        </a>
      </h4>
    </div>
    <div id="collapseDrei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="¸berschriftDrei">
      <div class="panel-body">
        ZweiTälerLand Tourismus bietet Ihnen die Möglichkeit, hochwertige Fahrräder zu mieten.<br>
        <a class="btn btn-default" href="fahrradverleih.html" role="button">mehr details &raquo;</a>
      </div>
    </div>
  </div>
  
 <!-- Text4 ---------------------------------------------------------------------------------------------------------------->    
    
  
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="¸berschriftVier">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseVier" aria-expanded="false" aria-controls"collapseVier">
          Text 4
        </a>
      </h4>
    </div>
    <div id="collapseVier" class="panel-collapse collapse" role="tabpanel" aria-labelledby="¸berschriftVier">
      <div class="panel-body">
        Text 4 weiter
      </div>
    </div>
  </div>
  
</div>       
       
       
       
       
       
       
       
       
       
        
        
        
      </div><!-- /.col-lg-4 -->
      
    </div><!-- /.row -->
    


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Wanderung: </span></h2>
          <p class="lead">Auch zum Wandern bietet das Naturschutzgebiet Rohardsberg viele Möglichkeiten wie z.B. eine Wanderung zur Donau- und Elzquelle, Martinskapelle, Schwedenschanze, Brend, Blindensee, Schonach, Triberg.</p>
        	<br><br>
        	<p><a class="btn btn-default" href="wanderungen.html" role="button">mehr details &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-rounded" src="images/front_wandern.jpg" alt="Wandern">
        </div>
        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-rounded" src="images/front_bike.jpg" alt="Biken">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh ja, Mountain Biken. <span class="text-muted">Sieh selbst.</span></h2>
          <p class="lead">Möglichkeiten für den Mountainbiker im Naturpark Südschwarzwald gibt es unendlich viele. Schließlich umfasst das gesamte Streckennetz rund 3.000 km an Wegen und Trails. Sie führen den Radler durch die unvergleichlich vielfältige Landschaft des Südschwarzwaldes entlang von stillen Seen, durch dunkle Wälder und hinauf zu den Schwarzwaldhöhen mit Fernblick bis zu den Alpen.</p>
          <p><a class="btn btn-default" href="mountainbike.html" role="button">mehr details &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ausflugsziele <span class="text-muted">Schau es dir an.</span></h2>
          <p class="lead">Ausflüge nach Freiburg, Schauinsland, Kaiserstuhl, Feldberg, Titisee, Schluchsee, Triberg (Wasserfälle), EuropaPark, Bodensee, Rheinfall von Schaffhausen sind gut zu erreichen. 
					Mit dem Auto fährt man 20 min, um den über 1163 m hohen Rohardsberg zu erreichen. Man kann dort Skilaufen (750 m langen Skilift) und es gibt viele Langlaufloipen, (Fernskiwanderwege von insgesamt 100 km Länge nach Schonach - Schönwald - Furtwangen - Hinterzarten - Belchen).  </p>
					<p><a class="btn btn-default" href="ausflug.html" role="button">mehr details &raquo;</a></p>        
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive img-rounded" src="images/front_ausflug.jpg" alt="Ausflugsziele">
        </div>
      </div>
</div>


<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
