<div class="container" id="services" name="services">      	<!--<div class="container marketing">--> 
  
  <div class="container-fluid">  	
    <h1>Herzlich Willkommen bei Elzachferien</h1>
    <h3>Zwei schöne Ferienwohnungen in bester Lage nähe Freiburg</h3>
    	
    <br><br>
    <!-- Three columns of text below the carousel -->
    <div class="row">
    	
      <div class="col-lg-4">
        <img  src="images/front_fw1-1.jpg">
        <h2>Ferienwohnung 1</h2>
        <p>Die Ferienwohnung ist eine 2 Zimmer Wohnung (50qm) im Erdgeschoss. Wohnzimmer und Bad sind mit einem Steinfussboden mit Fussbodenheizung und das Schlafzimmer  mit Parkettboden ausgelegt.</p>
        <p><a class="btn btn-default" href="fw1.html" role="button">mehr details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
   
      <div class="col-lg-4">
        <img  src="images/front_fw2-1.jpg">
        <h2>Ferienwohnung 2</h2>
        <p>Die Ferienwohnung ist eine 3 Zimmer DG Wohnung im 1.OG mit  einem  Balkon auf der Südseite, das Wohnzimmer sowie die Küche sind mit dem Balkon verbunden.</p>
        <br>
        <p><a class="btn btn-default" href="fw2.html" role="button">mehr details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      
      <div class="col-lg-4">
       

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="überschriftEins">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEins" aria-expanded="true" aria-controls"collapseEins">
          Kostenlos mit Bus und Bahn durch den Schwarzwald
        </a>
      </h4>
    </div>
    <div id="collapseEins" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins">
      <div class="panel-body">
        Übernachtungsgäste im ZweiTälerLand bekommen ein besonderes Extra:<br>

Nach der Anmeldung bei ihrem Gastgeber erhalten sie die KONUS-Gästekarte (Kosten-lose Nutzung des ÖPNV für Schwarzwald-urlauber) und können damit kostenlos mit Bus und Bahn durch den Schwarzwald fahren.<br>mehr...
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="überschriftZwei">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseZwei" aria-expanded="false" aria-controls"collapseZwei">
          DC Buchse defekt
        </a>
      </h4>
    </div>
    <div id="collapseZwei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftZwei">
      <div class="panel-body">
        Wir bieten hier den Austausch der Netzteilbuchse, Strombuchse, Netzbuchse für Ihr Notebook an - im Preis ist die passende Buchse enthalten. Beim Austausch der Netzteilbuchse wird Ihr Notebook natürlich noch von innen gereinigt, insbesondere der Lüfter, da sich dort immer Staub ansammelt und die Lüfterlamellen nach und nach verschließt.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="überschriftDrei">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDrei" aria-expanded="false" aria-controls"collapseDrei">
          Windows startet sehr langsam
        </a>
      </h4>
    </div>
    <div id="collapseDrei" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftDrei">
      <div class="panel-body">
        Überprüfung, Aktualisierung und Optimierung Ihres installierten Microsoft Betriebssystem. Treiberaktualisierung,
Entfernung unnötiger Autostart-Programme und überflüssiger Dateien und Registry-Einträge.
      </div>
    </div>
  </div>
  
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="überschriftVier">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseVier" aria-expanded="false" aria-controls"collapseVier">
          Virenprüfung und entfernen
        </a>
      </h4>
    </div>
    <div id="collapseVier" class="panel-collapse collapse" role="tabpanel" aria-labelledby="überschriftVier">
      <div class="panel-body">
        Prüfung Ihres Systems mit verschiedenen geeigneten Werkzeugen und Entfernung, soweit möglich, aller gefundenen Viren,
Würmer, Trojaner, Malware und sonstige Schadsoftware. Anschließende Überprüfung der Funktionstüchtigkeit Ihres
Betriebssystems und Versuch, dieses gegebenenfalls wiederherzustellen.
      </div>
    </div>
  </div>
  
</div>       
       
       
       
       
       
       
       
       
       
        
        
        
      </div><!-- /.col-lg-4 -->
      
    </div><!-- /.row -->
    


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Wanderung: </span></h2>
          <p class="lead">Auch zum Wandern bietet das Naturschutzgebiet Rohardsberg viele Möglichkeiten wie z.B. eine Wanderung zur Donau- und Elzquelle, Martinskapelle, Schwedenschanze, Brend, Blindensee, Schonach, Triberg.</p>
        	<br><br>
        	<p><a class="btn btn-default" href="wanderungen.html" role="button">mehr details &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/front_wandern.jpg" alt="Wandern">
        </div>
        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/front_bike.jpg" alt="Mounten Bike">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh ja, Mounten Biken. <span class="text-muted">Sieh selbst.</span></h2>
          <p class="lead">Möglichkeiten für den Mountainbiker im Naturpark Südschwarzwald gibt es unendlich viele. Schließlich umfasst das gesamte Streckennetz rund 3.000 km an Wegen und Trails. Sie führen den Radler durch die unvergleichlich vielfältige Landschaft des Südschwarzwaldes – entlang von stillen Seen, durch dunkle Wälder und hinauf zu den Schwarzwaldhöhen mit Fernblick bis zu den Alpen.</p>
          <p><a class="btn btn-default" href="mtb.html" role="button">mehr details &raquo;</a></p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Ausflugsziele <span class="text-muted">Schau es dir an.</span></h2>
          <p class="lead">Ausflüge nach Freiburg, Schauinsland, Kaiserstuhl Feldberg Titisee. Schluchsee, Triberg (Wasserfälle), EuropaPark. Bodensee, Rheinfall von Schaffhausen sind gut zu erreichen. 
					Mit dem Auto fährt man 20 min, um den über 1163 m hohen Rohardsberg zu erreichen. Man kann dort Skilaufen (750 m langen Skilift) und es gibt viele Langlaufloipen, (Fernskiwanderwege von insgesamt 100 km Länge nach Schonach – Schönwald – Furtwangen – Hinterzarten – Belchen).  </p>
					<p><a class="btn btn-default" href="ausflug.html" role="button">mehr details &raquo;</a></p>        
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="images/front_ausflug.jpg" alt="Ausflugsziele">
        </div>
      </div>
</div>


<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->
