<div class="container" id="services" name="services">
	<div class="container-fluid">
		<h1>Mountain Bike</h1>

<!-- lieberatsbergstube ---------------------------------------------------------------------------------------------------------------->
   		<br>
   		<hr>
    	<div class="row">
			<div class="col-xs-6 col-md-4">
       			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     				<!-- Indicators -->
  					<ol class="carousel-indicators">
    				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="3"></li>

  				</ol>
  				<!-- Wrapper for slides -->
  				<div class="carousel-inner">
    				<div class="item active">
    					<br>
      				<img src="images/bike/lieberatsbergstube/bild_01.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild1 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/bike/lieberatsbergstube/bild_02.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/bike/lieberatsbergstube/bild_03.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild3 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/bike/lieberatsbergstube/bild_04.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>


  					</div>
					</div>
      	</div><!-- col-xs-6 col-md-4 -->

     		<div class="col-xs-12 col-md-8">
        	<h2 class="featurette-heading">Zum Gasthof Lieberatsbergstube</h2>
	   			<p class="lead"><b>Ausgangspunkt: </b> Ferienwohnung<br>
	   			<b>Tour:</b> </p>
      		<iframe src="https://www.komoot.de/tour/6903162/embed" width="730" height="440" frameBorder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      	</div>
    	</div>

   		<br>




<!-- lieberatsbergstube -------------------------------------------------------------------------------------------------------------->
   	<br>

<!-- Wolfsgrubenhütte ---------------------------------------------------------------------------------------------------------------->
   		<br>
   		<hr>
    	<div class="row">
			<div class="col-xs-6 col-md-4">
       			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     				<!-- Indicators -->
  					<ol class="carousel-indicators">
    				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="1"></li>


  				</ol>
  				<!-- Wrapper for slides -->
  				<div class="carousel-inner">
    				<div class="item active">
    					<br>
      				<img src="images/bike/wolfsgrubenhuette/bild_01.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild1 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/bike/wolfsgrubenhuette/bild_02.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>


  					</div>
					</div>
      	</div><!-- col-xs-6 col-md-4 -->

     		<div class="col-xs-12 col-md-8">
        	<h2 class="featurette-heading">Zur Wolfsgrubenhütte / Mittagessen in Yach im Adler</h2>
	   			<p class="lead"><b>Ausgangspunkt: </b> Ferienwohnung<br>
	   			<b>Tour:</b> </p>
      	<iframe src="https://www.komoot.de/tour/17236667/embed" width="640" height="440" frameBorder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      	</div>
    	</div>

   		<br>
   		<hr>



<!-- Wolfsgrubenhütte -------------------------------------------------------------------------------------------------------------->
   	<br>

<!-- Gschasikopf ---------------------------------------------------------------------------------------------------------------->
   		<br>

    	<div class="row">
			<div class="col-xs-6 col-md-4">
       			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     				<!-- Indicators -->
  					<ol class="carousel-indicators">
    				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="2"></li>


  				</ol>
  				<!-- Wrapper for slides -->
  				<div class="carousel-inner">
    				<div class="item active">
    					<br>
      				<img src="images/bike/gschasikopf/bild_01.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild1 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/bike/gschasikopf/bild_02.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/bike/gschasikopf/bild_03.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>

  					</div>
					</div>
      	</div><!-- col-xs-6 col-md-4 -->

     		<div class="col-xs-12 col-md-8">
        	<h2 class="featurette-heading">Tour zum Gschasikopf, Drachen und Gleitschirm Startplatz</h2>
	   			<p class="lead"><b>Ausgangspunkt: </b> Ferienwohnung<br>
	   			<b>Tour:</b> </p>
		<iframe src="https://www.komoot.de/tour/17493767/embed" width="640" height="440" frameBorder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      	</div>
    	</div>

   		<br>
   		



<!-- Gschasikopf -------------------------------------------------------------------------------------------------------------->
   	<br>

<!-- Wilhelmshöhe ---------------------------------------------------------------------------------------------------------------->
   		<br>
   		<hr>
    	<div class="row">
			<div class="col-xs-6 col-md-4">
       			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
     				<!-- Indicators -->
  					<ol class="carousel-indicators">
    				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="4"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="5"></li>
    				<li data-target="#carousel-example-generic" data-slide-to="6"></li>

  				</ol>
  				<!-- Wrapper for slides -->
  				<div class="carousel-inner">
    				<div class="item active">
    					<br>
      				<img src="images/bike/wilhelmshoehe/bild_01.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild1 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/bike/wilhelmshoehe/bild_02.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>

    				<div class="item">
    					<br>
      				<img src="images/bike/wilhelmshoehe/bild_03.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>


    				<div class="item">
    					<br>
      				<img src="images/bike/wilhelmshoehe/bild_04.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>


					<div class="item">
    					<br>
      				<img src="images/bike/wilhelmshoehe/bild_05.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>


    				<div class="item">
    					<br>
      				<img src="images/bike/wilhelmshoehe/bild_06.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>


    				<div class="item">
    					<br>
      				<img src="images/bike/wilhelmshoehe/bild_07.jpg" alt="..." class="img-rounded">
      				<div class="carousel-caption">
        				<!-- Text im Bild2 -->
      				</div>
    				</div>


  					</div>
					</div>
      	</div><!-- col-xs-6 col-md-4 -->

     		<div class="col-xs-12 col-md-8">
        	<h2 class="featurette-heading">Roundtour zum Gasthaus Wilhelmshöhe</h2>
	   			<p class="lead"><b>Ausgangspunkt: </b> Ferienwohnung<br>
	   			<b>Tour:</b> </p>
	   			<p><a target="_blank" href="http://www.gasthaus-wilhelmshoehe.de"> Link -> Gasthaus Wilhelmshöhe </p>
      		<iframe src="https://www.komoot.de/tour/22200354/embed" width="640" height="440" frameBorder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      	</div>
    	</div>

   		<br>




<!-- Wilhelmshöhe -------------------------------------------------------------------------------------------------------------->
   	<br>
<!-- Gschasikopf ---------------------------------------------------------------------------------------------------------------->
<br>

<div class="row">
	<div class="col-xs-6 col-md-4">
		   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			 <!-- Indicators -->
			  <ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>


		  </ol>
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
			<div class="item active">
				<br>
			  <img src="images/bike/breitebene/" alt="..." class="img-rounded">
			  <div class="carousel-caption">
				<!-- Text im Bild1 -->
			  </div>
			</div>

			<div class="item">
				<br>
			  <img src="images/bike/breitebene/" alt="..." class="img-rounded">
			  <div class="carousel-caption">
				<!-- Text im Bild2 -->
			  </div>
			</div>

			<div class="item">
				<br>
			  <img src="images/bike/breitebene/" alt="..." class="img-rounded">
			  <div class="carousel-caption">
				<!-- Text im Bild2 -->
			  </div>
			</div>

			  </div>
			</div>
  </div><!-- col-xs-6 col-md-4 -->

	 <div class="col-xs-12 col-md-8">
	<h2 class="featurette-heading">Kleine Tour zur Breitebene</h2>
		   <p class="lead"><b>Ausgangspunkt: </b> Ferienwohnung<br>
		   <b>Tour:</b> </p>
		   <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/1603826266/embed/bf0817e960e56890c8bc675f2ebe43e38e85347f'></iframe> </div>
</div>
<br>
   

<!-- Gschasikopf -------------------------------------------------------------------------------------------------------------->
<br>
<!-- Bergwaldhof ---------------------------------------------------------------------------------------------------------------->


<div class="row">
	<div class="col-xs-6 col-md-4">
		   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			 <!-- Indicators -->
			  <ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>


		  </ol>
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner">
			<div class="item active">
				<br>
			  <img src="images/bike/bergwaldhof/" alt="..." class="img-rounded">
			  <div class="carousel-caption">
				<!-- Text im Bild1 -->
			  </div>
			</div>

			<div class="item">
				<br>
			  <img src="images/bike/bergwaldhof/" alt="..." class="img-rounded">
			  <div class="carousel-caption">
				<!-- Text im Bild2 -->
			  </div>
			</div>

			<div class="item">
				<br>
			  <img src="images/bike/bergwaldhof/" alt="..." class="img-rounded">
			  <div class="carousel-caption">
				<!-- Text im Bild2 -->
			  </div>
			</div>

			  </div>
			</div>
  </div><!-- col-xs-6 col-md-4 -->

	<div class="col-xs-12 col-md-8">
	<h2 class="featurette-heading">Tour zum Café Bergwaldhof</h2>
		   <p class="lead"><b>Ausgangspunkt: </b> Ferienwohnung<br>
		   <b>Tour:</b> </p>
		   <iframe height='405' width='590' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/activities/1614376934/embed/3bca5f777999ecdd4508f17d0aea878a3c5d53c9'></iframe>
	</div>
<br>
   

<!-- Gschasikopf -------------------------------------------------------------------------------------------------------------->

   		</div>
</div><!-- whitewrap -->
