<div class="container" id="services" name="services">




<div class="container-fluid">
	<h1>Mountain Bike Touren</h1>
	<br>
	
	<div class="row">
	
		<div class="col-md-6"> 
        	<h2>Rundtour nach Prechtal </h2>
          	<p><a class="btn btn-default" href="rundweg_prechtal.html" role="button">mehr details &raquo;</a></p>
        </div>
        
        <div class="col-md-4"> 
        	<br><img src="images/bike/prech.jpg" alt="...">
        </div>
        
        <div class="col-md-2"> 
        	<br><img src="images/bike/bild1.jpg" alt="...">
        </div>
	</div>
      
    <hr class="featurette-divider">	
	
	<div class="row">
	
		<div class="col-md-6"> 
        	<h2>Rundtour nach Prechtal </h2>
          	<p><a class="btn btn-default" href="rundweg_prechtal.html" role="button">mehr details &raquo;</a></p>
        </div>
        
        <div class="col-md-4"> 
        	<br><img src="images/bike/prech.jpg" alt="...">
        </div>
        
        <div class="col-md-2"> 
        	<br><img src="images/bike/bild1.jpg" alt="...">
        </div>
	</div>
      
    <hr class="featurette-divider">
      
    <div class="row">
    	<div class="col-md-6"> 
        	<h2>Zum Gasthof Lieberatsberg</h2>
          	<p><a class="btn btn-default" href="gasthof_lieberatsberg.html" role="button">mehr details &raquo;</a></p>
        </div>
        
        <div class="col-md-4"> 
        	<br><img src="images/bike/prech.jpg" alt="...">
        </div>
        
        <div class="col-md-2"> 
        	<br><img src="images/bike/bild1.jpg" alt="...">
        </div>
	</div>
	
    <hr class="featurette-divider">
			


</div> 